.axis {
    -fx-tick-label-font-size: 1.3em;
    -fx-tick-label-font-weight: bold;
    -fx-tick-label-font-family: 'serif';
    -fx-tick-label-fill: #757575;
}

.axis-label{
    -fx-font-size: 1.3em;
    -fx-font-weight: bolder;
    -fx-font-family: 'ui-monospace';
    -fx-text-fill: #757575;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-line-symbol {
    -fx-scale-x: 0.6;
    -fx-scale-y: 0.6;
}